body {
    color:aquamarine;
    background-color: black;
}
form {
    padding: 20px 0px;
    background: #222;
}
.figlet {
    padding: 20px;
    color: inherit;
    background-color: black;
}
#text {
    min-width: 500px;
    background: inherit;
    color: inherit;
    font-size: 1.2em;
}
#text:focus {
    border-color:hotpink;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: underline;
}
.try {
    white-space: pre-line;
}
.header-section {
    padding: 20px;
    background: #222;
}
.header {
    color: #aaa;
    font-size: 1.5em;
}

.status {
    color: #666;
}
